<manifest package="com.ztiany.mediaselector"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <application>

        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>

        <activity
            android:name=".LimitedBoxingActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/Boxing.AppTheme.NoActionBar">
        </activity>

        <activity
            android:name=".LimitedBoxingViewActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/Boxing.AppTheme.NoActionBar">
        </activity>


    </application>

</manifest>
