<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ztiany.mediaselector">

    <application>

        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <activity
            android:name="com.bilibili.boxing_impl.ui.BoxingActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/Boxing.AppTheme.NoActionBar" />

        <activity
            android:name="com.bilibili.boxing_impl.ui.BoxingViewActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/Boxing.AppTheme.NoActionBar" />

        <activity
            android:name="com.bilibili.boxing_impl.ui.BoxingBottomSheetActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Boxing.AppTheme.NoActionBar" />

    </application>

</manifest>